* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
  }
  html,
body {
  height: 100vh;
}
.navbar.fixed-top {
    transition: background-color 0.8s ease-in-out, height 0.8s ease-in-out;
    background-color: #5f430E;
    height: 16vh;
  }

  .navbar.fixed-top.scrolled {
    background-color: #5f430E; 
    height: 13vh;
  }
 
  .img-container.scrolled {
    height: 8vh;
    width: 5vh;
  }

  
.background-set {
    /* height: 600; */
    position: absolute;
    /* margin-top: vh; */
    z-index: -1;
    width: 80%;
    margin-left: 40%;
    margin-right: 30%;
}
.background-img {
    height: 50vh;
    width: 80%;
    opacity: 0.1;    
}
.img-container {
    position: absolute;
    height: 16.5vh;
    width: 7rem;
    border-bottom: solid 5px #5f430E;
    margin-top: rem;
    /* transition: height 0.8s ease ease-in-out; */
    /* margin-left: 19vh; */

}
.img-container.scrolled {
    position: absolute;
    height: 5vh;
    width: 4rem;
}
.img-logo {
    height: 15.7vh;
    width: 7rem;
    /* margin-left: 15vh; */
}
.img-logo.scrolled {
    height: 8vh;
    width: 4rem;
}
.body-content {   
    padding-top: 7rem;
    padding-left: 5%;
    display: flex; 
    justify-content: center;
    align-items: center;
   
}


.nav-link:hover {
    border-bottom: 3px solid beige !important;
    height: 15.5vh;
    padding-top: 2rem !important;
    background-color: #ffffff2b !important;
    color: #E9c7ad !important;
}
.nav-link {
    /* border-bottom: 3px solid beige !important; */
    height: 15.5vh;
    padding-top: 2rem !important;
    /* background-color: #ffffff2b !important; */
    /* color: #E9c7ad !important; */
}
.product-nav-link {
  border-bottom: 3px solid beige !important;
  height: 15.5vh;
  padding-top: 2rem !important;
  background-color: #ffffff2b !important;
  color: #E9c7ad !important;
}


.credentials-section {
    color: #5f430E;
    font-style: italic;

}
.username-label,
.password-label {
    color: #5f430E;
    font-weight: 500;
}
/* .password {
    color: #5f430E;
    font-weight: 500;
} */
form {
    display: flex;
    margin-bottom: 1rem;
} 
.input-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.both-input {
    padding: 12px 10px;
    background-color: rgba(0,0,0,.02);
    height: 3vh;
    width:50%;
    border: 1px solid #5f430E;
    border-radius: 7px;
}
.both-input:focus {
    outline: 1px;
    background-color: #ffffff;
    border: 1px solid #5f430E;
}
.password-label {
    margin-right: 1.2rem;
    padding-top: -0.1rem;
}
.username-label {
    margin-right: 2rem;
    padding-top: -0.1rem;
}
.enter-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #8a641e59;
    color: #faf5f5;
    border-radius: 4px;
    border: none;
    margin-bottom: 7rem;
    height: 6vh;
    width: 5rem;
}
.enter-btn:hover {
    background-color: #5f430E;
    color: aliceblue;
    font-weight: 500;
}
.footer-section {
    height: 300px;
    background-color: #5f430E;
    color: #eed2d2;
    padding-left: 15%;
    padding-right: 5%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}
.partners-logo {
    margin-bottom: 2%;
    border-radius: 6px;
}
.partners-label {
    margin-bottom: 30%;
}
.all-contacts {
    display: flex;
    margin-bottom: -1%;
    margin-left: 13%;
    
}
.all-icons {
    margin-right: 10%;
}
.details {
    letter-spacing: 5px;

}
.contact-heading {
    margin-left:25%;
}
.partners-heading {
    margin-left:37%;
}
.copyright {
    display: flex;
    justify-content: space-around;
    /* margin-top: 2%; */
    border-top: 2px solid #573f14;
    background-color: #573f14;
    color: #ffffff;
}
.footer-links {
    text-decoration: none;
    color: #ffffff;
    /* color: rgb(19, 7, 7); */
}
.footer-links:hover {
    text-decoration: underline;
    
}