

{% extends 'base.html' %}
    {% block title %}Superior International LLC{% endblock %}
        {% block content %}
        <div><center>
        <h1>Welcome to</h1>
        <p>Superior4 About Page</p>
        <br>
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="https://superior4.com/">Explore Superior4</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
            <br>
            {% comment %} <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div> {% endcomment %}
            <h1>MISSION</h1>
            <h3>Global Wellness</h3>
            <p>Through the global production and extensive distribution of highly nutritious and immune boosting MyShroom® medicinal mushroom blends global wellness shall be greatly enhanced</p>
            <hr>
            <h1>VISION</h1>
            <h3>Global Wellness</h3>
            <p>Every human being has the potential to be well and to be healed in adverse circumstances,  and this can be achieved by the consumption of the correct and adequate nutrition which MyShroom® medicinal mushroom blends provide. A world where all people will have access to MyShroom® medicinal mushroom blends and enjoy the fruits of life in good physical and mental health is a world that Superior International desires and associates with.</p>

        {% endif %}
        </center></div>
{% endblock %}