

{% extends 'base.html' %}
{% load static %}
    {% block title %}Superior International LLC{% endblock %}
        {% block content %}
        <div><center>
        <h1>Welcome to</h1>
        <p>Superior4 Homepage</p>
        <br>
        {% if user.is_authenticated %}
        <div class="position-relative">
            <p>Hi {{ user.username }}!</p>
            <p><a href="https://superior4.com/">Explore Superior4</a></p>
            <br>
        </div>
            
            {% comment %} <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div> {% endcomment %}

            <div id="carouselExampleAutoplaying" class="carousel slide position-absolute top-50 start-50 translate-middle mt-5" data-bs-ride="carousel">
                <br>
                <div class="carousel-inner ">
                  <div class="carousel-item active h-50">
                    <a href="https://superior4.com/"><img src="{% static 'images/catalog-image-2-480x480.jpg' %}" class="d-block w-50 h-50 rounded-4" alt="...">Explore Superior4</a>
                  </div>
                  <div class="carousel-item h-50">
                    <a href="https://superior4.com/"><img src="{% static 'images/catalog-image-4-480x480.jpg' %}" class="d-block w-50 h-50 rounded-4" alt="...">Explore Superior4</a>
                  </div>
                  <div class="carousel-item h-50">
                    <a href="https://superior4.com/"><img src="{% static 'images/catalog-image-6-480x480.jpg' %}" class="d-block w-50 h-50 rounded-4" alt="...">Explore Superior4</a>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            
            
        {% endif %}
        </center></div>


{% endblock %}

